@import "/src/Styles/utilities.scss";
.middleTop {
    border-bottom: 1px solid #e7e7e7;
}
.middleheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
}
.logo {
    max-width: 160px;
    width: 100%;
}
.searchTop,
.searchbar {
    width: 100%;
    display: flex;
    max-width: 685px;
    align-items: center;
    justify-content: center;
}
.search input {
    border: 1px solid #444;
    border-radius: 3px 0px 0px 3px;
}
.search {
    img {
        object-fit: none;
    }
    display: flex;
    max-width: 525px;
    width: 100%;
    flex: 1;
    .searchBtn {
        padding: 1px 19px;
        border-radius: 0 3px 3px 0;
    }
}
.inkAndtoner {
    margin-left: 20px;
    button {
        padding: 7px 21px;
    }
}

.supportmenu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
        border-left: 0;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    li button {
        flex-direction: column;
        min-height: 45px;
        width: 100%;
        min-width: 48px;
        padding: 12px 8px;
        z-index: 1;
    }
}
.supportmenu ul li:last-child {
    button {
        color: #fff;
    }
}
.supportmenu ul li:last-child::after {
    background: $red;
    height: 48px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 3px 3px;
    @media only screen and (min-width: 821px) {
        height: 65px;
    }
}
.icontext {
    display: none;
}

.signForm {
    min-width: 320px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background-color: #f3f3f3;
    form {
        padding: 12px 15px;
        .formGroup {
            padding: 6px 0;
            input {
                border: 1px solid #ddd;
            }
            label {
                font-size: $xxs;
                margin-bottom: 3px;
                padding-left: 5px;
                color: $secondary_main;
            }
        }
        .checkdiv {
            display: flex;
            align-items: center;
            padding: 6px 0 10px 0;
            input {
                height: 18px;
                width: 18px;
            }
            label {
                font-size: 13px;
                color: #666;
                font-family: "MotivaSans-Regular";
                opacity: 0.7;
                padding-left: 4px;
            }
        }
        .loginLink {
            padding-top: 15px;
        }
    }
}
.sideBarMenu {
    padding: 0px;
    z-index: 99;
    min-width: 320px;
    height: auto;
    background-color: #f3f3f3;
    right: 0;
    top: 100%;
    position: absolute;
    li {
        padding: 6px 10px;
        white-space: normal;
        border-bottom: 1px solid #e4e4e4;
        &:hover {
            color: #c00;
            background-color: #fff;
        }
        a:hover {
            color: #c00;
        }
    }
}

.cartHover {
    padding: 30px 50px;
    max-width: 320px;
    background-color: #f3f3f3;
    border-top: 4px solid #c00;
    right: 0;
    top: 100%;
    position: absolute;
    z-index: 99;
}

.badge{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 20px;
    line-height: 1;
    padding: 0 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #ffffff;
    color: #dd000d;
    top: 12px;
    right: 13px;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

@media only screen and (max-width: 1023px) {
    .middleheader {
        flex-flow: row wrap;
        background: #fff;
        height: auto;
    }
    .searchTop {
        flex: 1 1 100%;
        order: 3;
        max-width: 100%;
        padding: 10px 15px;
        border-top: 1px solid #e7e7e7;
    }
    .searchbar {
        margin: 0 auto;
    }
    .logo {
        margin-left: 38px;
        max-width: 132px;
        width: 100%;
    }
}
@media only screen and (min-width: 821px) {
    .supportmenu ul li {
        border-left: 1px solid #e7e7e7;
        button {
            min-width: 70px;
            min-height: 45px;
        }
        .icontext {
            display: block;
        }
    }
}
