@import '/src/Styles/utilities.scss';


.rightArrow{
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.3);
    right:0;
    position:absolute;
    top:50%;
    transform:translate(0, -50%);
    width:50px;
    height:50px;
    border-radius:50%;
    cursor:pointer;
    
    & span{
        font-size:28px;
        color:$white_color;
    }
    @media only screen and (min-width: 600px){
            display:flex;
    }   
   
}
.dots{
   & li{
    width:'6px';
    button::before{
        font-size:10px;
        width:6px; 
    }  
   }
   & li.slick-active button::before{
       color:white ;
   }
}
