   @import '/src/Styles/utilities.scss';
   .subFooter{
  background-color: #666;
  padding:20px 0;
   }
   .socialIcon{
       h6{
           margin-bottom: 6px;
       }
   }
   .socialMedia{
        display:flex;
        align-items:center;
        & img{
           padding-right: 6px;
        }
   
   }
   .footmid{
       display:flex ;
       flex-wrap:wrap;
       justify-content:space-between;
       @media only screen and (min-width: 600px){
        flex-wrap:nowrap
      }
   }
   .midImg{
    display: flex;
    align-items: center;
    justify-content: center;
    & img{
        width: 100%;
        height:auto;
    }
    & img:nth-child(1){
        padding-right: 15px;
    }
}
