@import '/src/Fonts/fonts.scss';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 1.5;
  font-family: 'ProximaNova-Regular';
}
ul{
  list-style: none;
  padding: 0;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
